:root{
    --primary-clr: #631d9c;
}





*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*NavBar*/
.navbar {
    position: fixed;
    top: 0;
    display: flex;
    background-color: #2D2E4A;
    color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.31);
    width: 120px;
    position: absolute;
    margin-inline-start: 7px;
    margin-top: 20px;
    top: -11px;
    height: 647px;
   
}
.nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 80px;
    text-align: center;
    
    
}

.nav .linha a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.logo {
    margin-left: 13px;
    width: 80px;
    height: auto;
    margin-top: 15px;
    transform: translateY(20px);
}

.engrenagem{
    width: 90px;
    height: auto;
    color: white;
}


/*User nickname*/
.id-usuario{
    margin-left: 13%;
    margin-top:3%;
    font-size: 32px;
    font-weight: 600;
}

/*User IMG*/
.img-usuario{
    position:absolute;
    top: 3%;
    right: 3%;
    height: 80px;
    width: 80px;
    border: 5px solid black;
    border-radius: 50%;
    z-index: 1;
}

/*Calendário*/

body{
    
    background-color: #e2e1dc;
}

.container{
    
    position: relative;
    width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 5px;
    color: #fff;
    display: flex;
    border-radius: 10px;
    background-color: #3C3D64;
}

.left{
    width: 60%;
    padding: 20px;
}

.right{
    width: 40%;
    display: flex;
    flex-direction: column;
   margin-left:30px;
   
}

.consulta-anterior{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 95%;
    background-color: #EC87CF;
    border-radius: 15px;
    border:2px solid #2D2E4A;

}

.consulta-anterior h2{
    color: black;
    font-weight: 500;
}


.consulta-posterior{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    height: 50%;
    padding-top: 15px;
    width: 95%;
    background-color:#FFFFFF;
    border-radius: 15px;
}

.consulta-posterior h2{
    color: black;
    font-weight: 500;
}


.calendar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    color: #878895;
    border-radius:5px;
    background-color: #fff;
}

.calendar::before,
.calendar::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: #d3d5d6d7;
    transform: translateY(-50%);
}

.calendar::before{
    height: 94%;
    left: calc(100% + 12px);
    background-color: rgb(153,153,153);
}



.calendar .month{
    border-radius: 5px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    background-color: #EC87CF;
}

.calendar .date{
    color: rgb(37, 37, 37);
    font-weight: 800;
}

.calendar .fa-angle-left{
    color: black;
    font-weight: 900;
}

.calendar .fa-angle-right{
    color: black;
    font-weight: 900;
}

.calendar .month .prev, 
.calendar .month .next{
    cursor: pointer;
}

.calendar .month .prev:hover, 
.calendar .month .next:hover{
    color: var(--primary-clr) ;
}

.calendar .weekdays{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.calendar .weekdays div{
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 1rem;
    font-weight:500;
    margin-bottom:10px ;
}

.calendar .days .day{
    width: 14.28%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--primary-clr);
    border: 1px solid #f5f5f5;
}

.calendar .day:not(.prev-date , .next-date):hover{
    color: #fff;
    background-color: var(--primary-clr);
}

.calendar .days .prev-date,
.calendar .days .prev-date{
    color: #b3b3b3;
}

.calendar .days .active{
    position: relative;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--primary-clr);
}


.calendar .days .active::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
box-shadow: 0 0 18px 2px var(--primary-clr);
}

.calendar .days .today{
    font-size: 1.7rem;

}

.calendar .days .event{
    position: relative;

}

.calendar .days .event::after{
    content: '';
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--primary-clr);
}

.calendar .event:hover::after{
    background-color:#fff;

}

.calendar .active.event::after{
background-color: #fff;
bottom: 20%;
}

.calendar .active.event{
padding-bottom: 10px;
}

.calendar .goto-today{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--primary-clr);
}

.calendar .goto-today .goto{
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--primary-clr);
}

.calendar .goto-today .goto input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--primary-clr);
    border-radius: 5px;
}

.calendar .goto-today button{
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-clr);
}

.calendar .goto-today button:hover{
    color: #fff;
    background-color: var(--primary-clr);
    
}

.calendar .goto-today .goto button{
    border: none;
    border-left: 1px solid var(--primary-clr);
    border-radius: 0;
}

.container .right{
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0 ;
} 

.right .today-date{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
}

